<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploads - Home</title>
</head>
<body>
    <div>
        <a style="float: right;" href="{% url 'logout' %}">Logout</a>
        <small style="float: right; margin-top: 3px; margin-right: 3px;">({{request.user}})</small>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'upload_file' %}">Upload File</a>
    </div>
    <hr>
    <h2>{{filename}}</h2>
    
    {% comment %} <p>{{text}}</p> {% endcomment %}
    <p>{{text}}</p>

    <a href="/docs/{{file}}">File link (Click to open)</a>
</body>
</html>